---
import "../../styles/brasil/aftersales.css";
---

<section class="br-after" id="pos-venda">
  <div class="br-after__inner">
    <div class="br-after__content" data-reveal="slide-left">
      <h2 class="br-after__title">
        Muito além da<br />entrega do equipamento.
      </h2>
      <p class="br-after__text">
        Na FERIOLI acompanhamos nossos clientes durante toda a vida útil da
        máquina. Oferecemos suporte especializado para manter a produtividade.
      </p>
      <ul class="br-after__services">
        <li class="br-after__service">
          <span class="br-after__service-icon">
            <svg
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><polyline points="20 6 9 17 4 12"></polyline></svg
            >
          </span>
          Atendimento técnico especializado
        </li>
        <li class="br-after__service">
          <span class="br-after__service-icon">
            <svg
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><polyline points="20 6 9 17 4 12"></polyline></svg
            >
          </span>
          Assistência pós-venda
        </li>
        <li class="br-after__service">
          <span class="br-after__service-icon">
            <svg
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><polyline points="20 6 9 17 4 12"></polyline></svg
            >
          </span>
          Peças originais
        </li>
        <li class="br-after__service">
          <span class="br-after__service-icon">
            <svg
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><polyline points="20 6 9 17 4 12"></polyline></svg
            >
          </span>
          Suporte rápido
        </li>
        <li class="br-after__service">
          <span class="br-after__service-icon">
            <svg
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><polyline points="20 6 9 17 4 12"></polyline></svg
            >
          </span>
          Treinamento operacional
        </li>
      </ul>
    </div>
    <img class="br-after__image" src="/images/argentina/grua.png" alt="">
  </div>
</section>
