---
import "../../styles/brasil/clients.css";
---

<section class="br-clients" id="clientes">
  <div class="br-clients__inner">
    <div class="br-clients__header" data-reveal="fade-up">
      <h2 class="br-clients__title">
        Os equipamentos FERIOLI operam<br />diariamente nas empresas mais<br />importantes da América Latina.
      </h2>
      <p class="br-clients__desc">
        Mais de 75 anos de engenharia e fabricação própria ao serviço das maiores indústrias do continente.
      </p>
    </div>
    <div class="br-clients__grid" data-reveal="fade-up">
      <span class="br-clients__item">
        <img src="/images/logoferiolibrasilblanco.png" alt="FERIOLI" loading="lazy" />
      </span>
      <span class="br-clients__item">
        <img src="/images/logoferiolibrasilblanco.png" alt="FERIOLI" loading="lazy" />
      </span>
      <span class="br-clients__item">
        <img src="/images/logoferiolibrasilblanco.png" alt="FERIOLI" loading="lazy" />
      </span>
      <span class="br-clients__item">
        <img src="/images/logoferiolibrasilblanco.png" alt="FERIOLI" loading="lazy" />
      </span>
      <span class="br-clients__item">
        <img src="/images/logoferiolibrasilblanco.png" alt="FERIOLI" loading="lazy" />
      </span>
      <span class="br-clients__item">
        <img src="/images/logoferiolibrasilblanco.png" alt="FERIOLI" loading="lazy" />
      </span>
      <span class="br-clients__item">
        <img src="/images/logoferiolibrasilblanco.png" alt="FERIOLI" loading="lazy" />
      </span>
      <span class="br-clients__item">
        <img src="/images/logoferiolibrasilblanco.png" alt="FERIOLI" loading="lazy" />
      </span>
    </div>
  </div>
</section>
