---
import "../../styles/brasil/footer.css";
---

<footer class="br-footer">
  <div class="br-footer__main">
    <div class="br-footer__inner">
      <div class="br-footer__grid" data-stagger>
        <div class="br-footer__brand" data-reveal="fade-up">
          <div class="br-footer__logo">
            <img
              src="/images/logoferiolibrasilblanco.png"
              alt="FERIOLI Brasil"
              class="br-footer__logo-img"
            />
          </div>
          <p class="br-footer__desc">
            Fabricante argentina de guindastes de grande porte. Engenharia e tecnologia com mais de 75 anos de experiência.
          </p>
        </div>
        <div class="br-footer__col" data-reveal="fade-up">
          <h4 class="br-footer__heading">Empresa</h4>
          <a href="#sobre" class="br-footer__link">Quem Somos</a>
          <a href="#diferenciais" class="br-footer__link">Diferenciais</a>
          <a href="#presenca" class="br-footer__link">Presença</a>
        </div>
        <div class="br-footer__col" data-reveal="fade-up">
          <h4 class="br-footer__heading">Equipamentos</h4>
          <a href="#equipamentos" class="br-footer__link">Guindastes</a>
          <a href="#equipamentos" class="br-footer__link">Eletroguindastes</a>
        </div>
        <div class="br-footer__col" data-reveal="fade-up">
          <h4 class="br-footer__heading">Serviços</h4>
          <a href="#pos-venda" class="br-footer__link">Pós-venda</a>
          <a href="#cta" class="br-footer__link">Contato</a>
        </div>
        <div class="br-footer__col" data-reveal="fade-up">
          <h4 class="br-footer__heading">Localizações</h4>
          <a href="#presenca" class="br-footer__link">Leones</a>
          <a href="#presenca" class="br-footer__link">Rosário</a>
          <a href="#presenca" class="br-footer__link">Buenos Aires</a>
          <a href="#presenca" class="br-footer__link">Salta</a>
          <a href="#presenca" class="br-footer__link">Farroupilha</a>
          <a href="#presenca" class="br-footer__link">Lima</a>
        </div>
      </div>
    </div>
  </div>
  <div class="br-footer__bottom">
    <div class="br-footer__bottom-inner">
      <span>&copy; 2026 FERIOLI S.A. Todos os direitos reservados.</span>
      <span>Fabricado na Argentina com engenharia latino-americana.</span>
    </div>
  </div>
</footer>
