---
import "../../styles/brasil/footer.css";
---

<footer class="br-footer">
  <div class="br-footer__main">
    <div class="br-footer__inner">
      <div class="br-footer__grid" data-stagger>
        <div class="br-footer__brand" data-reveal="fade-up">
          <div class="br-footer__logo">
            <img
              src="/images/brasil/logo.png"
              alt="FERIOLI Brasil"
              class="br-footer__logo-img"
            />
          </div>
          <p class="br-footer__desc">
            Fabricante argentina de guindastes de grande porte. Engenharia e
            tecnologia com mais de 75 anos de experiência.
          </p>
        </div>
        <div class="br-footer__col" data-reveal="fade-up">
          <h4 class="br-footer__heading">Equipe</h4>
          <a
            class="br-footer__link"
            href="https://www.feriolisa.com.ar"
            target="_blank"
            rel="noopener noreferrer">Ferioli S.A.</a
          >
          <a href="https://ferioli-eco.netlify.app" class="br-footer__link"
            >Ferioli Eco</a
          >
          <a
            class="br-footer__link"
            href="/"
            target="_blank"
            rel="noopener noreferrer">Ferioli Brasil</a
          >
        </div>
        <div class="br-footer__col" data-reveal="fade-up">
          <h4 class="br-footer__heading">Produtos</h4>
          <a href="#equipamentos" class="br-footer__link">Guindastes</a>
          <a href="#equipamentos" class="br-footer__link">Eletroguindastes</a>
        </div>
        <div class="br-footer__col" data-reveal="fade-up">
          <h4 class="br-footer__heading">Contato</h4>
          <a
            class="br-footer__link"
            href="https://www.instagram.com/feriolibrasil/"
            target="_blank"
            rel="noopener noreferrer">@feriolibrasil</a
          >
          <a
            class="br-footer__link"
            href="https://wa.me/543416123456"
            target="_blank"
            rel="noopener noreferrer">+54 341 6-123-456</a
          >
          <a class="br-footer__link" href="mailto:info@feriolibrasil.com"
            >info@feriolibrasil.com</a
          >
        </div>
        <div class="br-footer__col" data-reveal="fade-up">
          <h4 class="br-footer__heading">Localizações</h4>
          <a href="#presenca" class="br-footer__link">Leones</a>
          <a href="#presenca" class="br-footer__link">Rosário</a>
          <a href="#presenca" class="br-footer__link">Buenos Aires</a>
          <a href="#presenca" class="br-footer__link">Salta</a>
          <a href="#presenca" class="br-footer__link">Farroupilha</a>
          <a href="#presenca" class="br-footer__link">Lima</a>
        </div>
      </div>
    </div>
  </div>
  <div class="br-footer__bottom">
    <div class="br-footer__bottom-inner">
      <span>&copy; 2026 FERIOLI S.A. Todos os direitos reservados.</span>
      <span>Fabricado na Argentina com engenharia latino-americana.</span>
    </div>
  </div>
</footer>
