---
import Header from "./Header.astro";
import Hero from "./Hero.astro";
import Evolution from "./Evolution.astro";
import Official from "./Official.astro";
import Sales from "./Sales.astro";
import Repair from "./Repair.astro";
import Choose from "./Choose.astro";
import Webs from "./Webs.astro";
import Products from "./Products.astro";
import Presence from "./Presence.astro";
import Contact from "./Contact.astro";
import Footer from "./Footer.astro";
---

<Header />
<Hero />
<Evolution />
<Official />
<div id="servicios">
    <Sales />
    <Repair />
</div>
<Choose />
<Products />
<div id="presencia">
    <Webs />
    <Presence />
</div>
<Contact />
<Footer />
