---
import "../../styles/argentina/products.css";
---

<section class="products" id="productos">
    <div class="products__inner">
        <h2 class="products__title" data-reveal="fade-up">Productos</h2><div
            class="products__grid"
            data-stagger
        >
            <article class="products__card" data-reveal="fade-up">
                <div class="products__card-image">
                    <img
                        src="/images/argentina/productos/hidrogrua.jpg"
                        alt="Hidrogrúas"
                        loading="lazy"
                        width="640"
                        height="480"
                    />
                </div><div class="products__card-body">
                    <h3 class="products__card-title">Hidrogrúas</h3>
                </div>
            </article>
            <article class="products__card" data-reveal="fade-up">
                <div class="products__card-image">
                    <img
                        src="/images/argentina/productos/swat.jpg"
                        alt="Retro SWAT"
                        loading="lazy"
                        width="640"
                        height="480"
                    />
                </div><div class="products__card-body">
                    <h3 class="products__card-title">Retro SWAT</h3>
                </div>
            </article>
            <article class="products__card" data-reveal="fade-up">
                <div class="products__card-image">
                    <img
                        src="/images/argentina/productos/elevacion.jpg"
                        alt="Equipos de elevación"
                        loading="lazy"
                        width="640"
                        height="480"
                    />
                </div><div class="products__card-body">
                    <h3 class="products__card-title">Equipos de elevación</h3>
                </div>
            </article>
            <article class="products__card" data-reveal="fade-up">
                <div class="products__card-image">
                    <img
                        src="/images/argentina/productos/especiales.jpg"
                        alt="Equipos especiales"
                        loading="lazy"
                        width="640"
                        height="480"
                    />
                </div><div class="products__card-body">
                    <h3 class="products__card-title">Equipos especiales</h3>
                </div>
            </article>
        </div>
    </div>
</section>
