---
import "../../styles/argentina/repair.css";
import { CheckIcon } from "../../../public/icons/index";
---

<section class="repair">
    <div class="repair__inner">
        <div class="repair__imagen-container" data-reveal="scale-in">
            <img
                class="repair__imagen"
                src="/images/argentina/repair.jpg"
                alt=""
            />
        </div>
        <div class="repair__info">
            <h2 class="info__title" data-reveal="fade-up">
                Reparaciones integral <br /> y asistencia técnica
            </h2>
            <p class="info__text" data-reveal="fade-up">
                Donde otros reparan componentes, nosotros recuperamos el
                rendimiento del equipo completo.
            </p>
            <p class="info__parrafo" data-reveal="fade-up">
                Cada intervención comienza con un diagnóstico técnico integral.
                <br />
                Analizamos estructura, hidráulica, componentes mecánicos y sistemas
                operativos para devolver la hidrogrúa a sus máximos niveles de seguridad
                y productividad.
            </p>
        </div>
        <div class="repair__servicios">
            <span class="servicios__span" data-reveal="fade-up">Nuestros servicios incluyen</span>
            <ul class="servicios__list" data-stagger>
                <li class="servicios__item" data-reveal="fade-up">
                    <CheckIcon class="servicios__icon" /> Reparación integral de hidrogrúas
                </li>
                <li class="servicios__item" data-reveal="fade-up">
                    <CheckIcon class="servicios__icon" /> Reconstrucción de equipos
                </li>
                <li class="servicios__item" data-reveal="fade-up">
                    <CheckIcon class="servicios__icon" /> Reparaciones hidráulicas
                </li>
                <li class="servicios__item" data-reveal="fade-up">
                    <CheckIcon class="servicios__icon" /> Reparaciones estructurales
                </li>
                <li class="servicios__item" data-reveal="fade-up">
                    <CheckIcon class="servicios__icon" /> Mantenimiento preventivo
                </li>
                <li class="servicios__item" data-reveal="fade-up">
                    <CheckIcon class="servicios__icon" /> Mantenimiento correctivo
                </li>
                <li class="servicios__item" data-reveal="fade-up">
                    <CheckIcon class="servicios__icon" /> Repuestos originales
                </li>
                <li class="servicios__item" data-reveal="fade-up">
                    <CheckIcon class="servicios__icon" /> Inspecciones técnicas
                </li>
                <li class="servicios__item" data-reveal="fade-up">
                    <CheckIcon class="servicios__icon" /> Asistencia en campo
                </li>
                <li class="servicios__item" data-reveal="fade-up">
                    <CheckIcon class="servicios__icon" /> Capacitación operativa
                </li>
            </ul>
        </div>
    </div>
</section>

