---
import "../styles/choose.css";
import {
    IngenieriaIcon,
    RespuestaIcon,
    UbicacionIcon,
    RepuestosIcon,
    HerramientasIcon,
    AtencionIcon,
} from "../../public/icons/index";
---

<section class="choose">
    <div class="choose__inner">
        <h2 class="choose__title" data-reveal="fade-up">
            ¿Por qué elegir <span class="choose__title-span">FERIOLI ECO</span
            >?
        </h2>
        <p class="choose__slogan" data-reveal="fade-up">Mucho más que un servicio técnico</p>
        <div class="choose__cards-container" data-stagger>
            <div class="choose__card" data-reveal="fade-up">
                <IngenieriaIcon class="card__icon" />
                <p class="card__title">
                    Ingeniería <br /> respaldada <br /> por FERIOLI
                </p>
                <p class="card__text">Conocimiento directo del fabricante.</p>
            </div>
            <div class="choose__card" data-reveal="fade-up">
                <RespuestaIcon class="card__icon" />
                <p class="card__title">Respuesta <br /> rápida oficial</p>
                <p class="card__text">Reducimos tiempos de parada.</p>
            </div>
            <div class="choose__card" data-reveal="fade-up">
                <UbicacionIcon class="card__icon" />
                <p class="card__title">Cobertura <br /> nacional</p>
                <p class="card__text">
                    Rosario, Salta y atención en todo el país.
                </p>
            </div>
            <div class="choose__card" data-reveal="fade-up">
                <RepuestosIcon class="card__icon" />
                <p class="card__title">Repuestos <br /> originales</p>
                <p class="card__text">Mayor confiabilidad y vida útil.</p>
            </div>
            <div class="choose__card" data-reveal="fade-up">
                <HerramientasIcon class="card__icon" />
                <p class="card__title">Técnicos <br /> especializados</p>
                <p class="card__text">Experiencia comprobada.</p>
            </div>
            <div class="choose__card" data-reveal="fade-up">
                <AtencionIcon class="card__icon" />
                <p class="card__title">Atención <br /> personalizada</p>
                <p class="card__text">
                    Cada cliente recibe una solución a medida.
                </p>
            </div>
        </div>
    </div>
</section>

