---
import "../styles/footer.css";
---

<footer class="footer">
  <div class="footer__inner">
    <div class="footer__grid" data-stagger>
      <div class="footer__brand" data-reveal="fade-up">
        <div class="footer__logo">
          <img src="/images/ferioli-eco.png" alt="FerioliEco" class="footer__logo-img" />
        </div>
        <p class="footer__desc">
          Soluciones industriales con compromiso ambiental.
        </p>
      </div>
      <div class="footer__col" data-reveal="fade-up">
        <h4 class="footer__heading">Productos</h4>
        <a href="/" class="footer__link">Equipos</a>
        <a href="/" class="footer__link">Repuestos</a>
        <a href="/" class="footer__link">Accesorios</a>
      </div>
      <div class="footer__col" data-reveal="fade-up">
        <h4 class="footer__heading">Empresa</h4>
        <a href="/" class="footer__link">Sobre nosotros</a>
        <a href="/" class="footer__link">Historia</a>
        <a href="/" class="footer__link">Trabajá con nosotros</a>
      </div>
      <div class="footer__col" data-reveal="fade-up">
        <h4 class="footer__heading">Contacto</h4>
        <a href="/" class="footer__link">info@feriolieco.com</a>
        <a href="/" class="footer__link">+54 11 5555-0000</a>
        <a href="/" class="footer__link">Buenos Aires, Argentina</a>
      </div>
    </div>
    <div class="footer__bottom">
      <span>&copy; 2026 FerioliEco. Todos los derechos reservados.</span>
    </div>
  </div>
</footer>

